.liste
{
    color:#4da6ff;
    text-decoration: underline;
}

H1
{
	text-align: center;

}

.imagepresentation
{
	max-width: 100%;
	height: auto;
}

.textpresentation
{
    display: flex;
    flex-direction: row;
}
.contact
{
	color: blue;
}

H2
{
	color: blue;
}

.article
{
	display: flex;
	flex-direction: row;
}
.messagerouge
{
	color: red;
}